In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("DecisionTreesClassificationDataSet.csv")
df

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N
5,14,Y,7,BS,N,N,Y
6,1,N,0,BS,N,N,N
7,1,N,1,PhD,Y,N,N
8,4,Y,1,BS,N,Y,Y
9,0,N,0,PhD,Y,N,Y
10,0,N,0,BS,Y,Y,Y
11,2,N,0,BS,Y,Y,Y
12,8,N,6,BS,N,N,N
13,3,Y,1,MS,Y,N,Y
14,19,N,2,PhD,Y,N,N
15,1,N,0,BS,N,N,N

In [4]:
duzeltme_mapping = {"Y": 1, "N": 0}
df["SuanCalisiyor?"] = df["SuanCalisiyor?"].map(duzeltme_mapping)
df["Top10 Universite?"] = df["Top10 Universite?"].map(duzeltme_mapping)
df["IseAlindi"] = df["IseAlindi"].map(duzeltme_mapping)
df["StajBizdeYaptimi?"] = df["StajBizdeYaptimi?"].map(duzeltme_mapping)
df

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,1,4,BS,0,0,1
1,0,0,0,PhD,1,1,1
2,5,1,2,MS,0,1,1
3,3,0,1,BS,0,1,1
4,0,0,0,BS,0,0,0
5,14,1,7,BS,0,0,1
6,1,0,0,BS,0,0,0
7,1,0,1,PhD,1,0,0
8,4,1,1,BS,0,1,1
9,0,0,0,PhD,1,0,1
10,0,0,0,BS,1,1,1
11,2,0,0,BS,1,1,1
12,8,0,6,BS,0,0,0
13,3,1,1,MS,1,0,1
14,19,0,2,PhD,1,0,0
15,1,0,0,BS,0,0,0

In [5]:
duzeltme_mapping_egitim = {"BS":0, "PhD": 1, "MS": 2}
df["Egitim Seviyesi"] = df["Egitim Seviyesi"].map(duzeltme_mapping_egitim)
df

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,1,4,0,0,0,1
1,0,0,0,1,1,1,1
2,5,1,2,2,0,1,1
3,3,0,1,0,0,1,1
4,0,0,0,0,0,0,0
5,14,1,7,0,0,0,1
6,1,0,0,0,0,0,0
7,1,0,1,1,1,0,0
8,4,1,1,0,0,1,1
9,0,0,0,1,1,0,1
10,0,0,0,0,1,1,1
11,2,0,0,0,1,1,1
12,8,0,6,0,0,0,0
13,3,1,1,2,1,0,1
14,19,0,2,1,1,0,0
15,1,0,0,0,0,0,0

In [8]:
y = df["IseAlindi"]
x = df.drop(["IseAlindi"],axis = 1)
x

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?
0,11,1,4,0,0,0
1,0,0,0,1,1,1
2,5,1,2,2,0,1
3,3,0,1,0,0,1
4,0,0,0,0,0,0
5,14,1,7,0,0,0
6,1,0,0,0,0,0
7,1,0,1,1,1,0
8,4,1,1,0,0,1
9,0,0,0,1,1,0
10,0,0,0,0,1,1
11,2,0,0,0,1,1
12,8,0,6,0,0,0
13,3,1,1,2,1,0
14,19,0,2,1,1,0
15,1,0,0,0,0,0

In [10]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators = 200, random_state = 10)
rfc.fit(x,y)

RandomForestClassifier(n_estimators=200, random_state=10)

In [11]:
print(rfc.predict([[5,1,3,0,0,0]]))

[1]

C:\Users\hilal\anaconda3\envs\Hilal\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [12]:
print(rfc.predict([[2,0,7,0,1,0]]))

[0]

C:\Users\hilal\anaconda3\envs\Hilal\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(