In [76]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [77]:
veriler = pd.read_csv("EksikVeriler.csv")
veriler

   ulke  boy  kilo   yas cinsiyet
0    tr  130    30  10.0        e
1    tr  125    36  11.0        e
2    tr  135    34  10.0        k
3    tr  133    30   9.0        k
4    tr  129    38  12.0        e
5    tr  180    90  30.0        e
6    tr  190    80  25.0        e
7    tr  175    90  35.0        e
8    tr  177    60  22.0        k
9    us  185   105  33.0        e
10   us  165    55  27.0        k
11   us  155    50  44.0        k
12   us  160    58   NaN        k
13   us  162    59  41.0        k
14   us  167    62  55.0        k
15   fr  174    70  47.0        e
16   fr  193    90   NaN        e
17   fr  187    80  27.0        e
18   fr  183    88  28.0        e
19   fr  159    40  29.0        k
20   fr  164    66  32.0        k
21   fr  166    56  42.0        k

In [78]:
Yas = veriler.iloc[:,1:4].values
Yas

array([[130.,  30.,  10.],
       [125.,  36.,  11.],
       [135.,  34.,  10.],
       [133.,  30.,   9.],
       [129.,  38.,  12.],
       [180.,  90.,  30.],
       [190.,  80.,  25.],
       [175.,  90.,  35.],
       [177.,  60.,  22.],
       [185., 105.,  33.],
       [165.,  55.,  27.],
       [155.,  50.,  44.],
       [160.,  58.,  nan],
       [162.,  59.,  41.],
       [167.,  62.,  55.],
       [174.,  70.,  47.],
       [193.,  90.,  nan],
       [187.,  80.,  27.],
       [183.,  88.,  28.],
       [159.,  40.,  29.],
       [164.,  66.,  32.],
       [166.,  56.,  42.]])

In [79]:
boy = veriler[["boy"]]
boy

    boy
0   130
1   125
2   135
3   133
4   129
5   180
6   190
7   175
8   177
9   185
10  165
11  155
12  160
13  162
14  167
15  174
16  193
17  187
18  183
19  159
20  164
21  166

In [80]:
boykilo = veriler[["boy", "kilo"]]
boykilo

    boy  kilo
0   130    30
1   125    36
2   135    34
3   133    30
4   129    38
5   180    90
6   190    80
7   175    90
8   177    60
9   185   105
10  165    55
11  155    50
12  160    58
13  162    59
14  167    62
15  174    70
16  193    90
17  187    80
18  183    88
19  159    40
20  164    66
21  166    56

In [81]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan, strategy = "mean")

In [82]:
imputer = imputer.fit(Yas[:,1:4])
Yas[:,1:4] = imputer.transform(Yas[:,1:4])
Yas

array([[130.  ,  30.  ,  10.  ],
       [125.  ,  36.  ,  11.  ],
       [135.  ,  34.  ,  10.  ],
       [133.  ,  30.  ,   9.  ],
       [129.  ,  38.  ,  12.  ],
       [180.  ,  90.  ,  30.  ],
       [190.  ,  80.  ,  25.  ],
       [175.  ,  90.  ,  35.  ],
       [177.  ,  60.  ,  22.  ],
       [185.  , 105.  ,  33.  ],
       [165.  ,  55.  ,  27.  ],
       [155.  ,  50.  ,  44.  ],
       [160.  ,  58.  ,  28.45],
       [162.  ,  59.  ,  41.  ],
       [167.  ,  62.  ,  55.  ],
       [174.  ,  70.  ,  47.  ],
       [193.  ,  90.  ,  28.45],
       [187.  ,  80.  ,  27.  ],
       [183.  ,  88.  ,  28.  ],
       [159.  ,  40.  ,  29.  ],
       [164.  ,  66.  ,  32.  ],
       [166.  ,  56.  ,  42.  ]])

In [83]:
ulke = veriler.iloc[:,0:1].values
ulke

array([['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['us'],
       ['us'],
       ['us'],
       ['us'],
       ['us'],
       ['us'],
       ['fr'],
       ['fr'],
       ['fr'],
       ['fr'],
       ['fr'],
       ['fr'],
       ['fr']], dtype=object)

In [84]:
from sklearn import preprocessing

In [85]:
le = preprocessing.LabelEncoder()

In [86]:
ulke[:,0] = le.fit_transform(veriler.iloc[:,0])
ulke

array([[1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0]], dtype=object)

In [87]:
ohe = preprocessing.OneHotEncoder()

In [88]:
ulke = ohe.fit_transform(ulke).toarray()
ulke

array([[0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.]])

In [89]:
cinsiyet = veriler.iloc[:,-1:].values
cinsiyet

array([['e'],
       ['e'],
       ['k'],
       ['k'],
       ['e'],
       ['e'],
       ['e'],
       ['e'],
       ['k'],
       ['e'],
       ['k'],
       ['k'],
       ['k'],
       ['k'],
       ['k'],
       ['e'],
       ['e'],
       ['e'],
       ['e'],
       ['k'],
       ['k'],
       ['k']], dtype=object)

In [90]:
le = preprocessing.LabelEncoder()

In [91]:
cinsiyet[:,-1] = le.fit_transform(veriler.iloc[:,-1])
cinsiyet

array([[0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1]], dtype=object)

In [92]:
cinsiyet = ohe.fit_transform(cinsiyet).toarray()
cinsiyet

array([[1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.]])

In [93]:
sonuc = pd.DataFrame(data=ulke, index = range(22), columns = ['fr','tr','us'])
print(sonuc)

     fr   tr   us
0   0.0  1.0  0.0
1   0.0  1.0  0.0
2   0.0  1.0  0.0
3   0.0  1.0  0.0
4   0.0  1.0  0.0
5   0.0  1.0  0.0
6   0.0  1.0  0.0
7   0.0  1.0  0.0
8   0.0  1.0  0.0
9   0.0  0.0  1.0
10  0.0  0.0  1.0
11  0.0  0.0  1.0
12  0.0  0.0  1.0
13  0.0  0.0  1.0
14  0.0  0.0  1.0
15  1.0  0.0  0.0
16  1.0  0.0  0.0
17  1.0  0.0  0.0
18  1.0  0.0  0.0
19  1.0  0.0  0.0
20  1.0  0.0  0.0
21  1.0  0.0  0.0

In [94]:
sonuc2 = pd.DataFrame(data=Yas, index = range(22), columns = ['boy','kilo','yas'])
print(sonuc2)

      boy   kilo    yas
0   130.0   30.0  10.00
1   125.0   36.0  11.00
2   135.0   34.0  10.00
3   133.0   30.0   9.00
4   129.0   38.0  12.00
5   180.0   90.0  30.00
6   190.0   80.0  25.00
7   175.0   90.0  35.00
8   177.0   60.0  22.00
9   185.0  105.0  33.00
10  165.0   55.0  27.00
11  155.0   50.0  44.00
12  160.0   58.0  28.45
13  162.0   59.0  41.00
14  167.0   62.0  55.00
15  174.0   70.0  47.00
16  193.0   90.0  28.45
17  187.0   80.0  27.00
18  183.0   88.0  28.00
19  159.0   40.0  29.00
20  164.0   66.0  32.00
21  166.0   56.0  42.00

In [95]:
sonuc3 = pd.DataFrame(data = cinsiyet[:,:1], index = range(22), columns = ['cinsiyet'])
print(sonuc3)

    cinsiyet
0        1.0
1        1.0
2        0.0
3        0.0
4        1.0
5        1.0
6        1.0
7        1.0
8        0.0
9        1.0
10       0.0
11       0.0
12       0.0
13       0.0
14       0.0
15       1.0
16       1.0
17       1.0
18       1.0
19       0.0
20       0.0
21       0.0

In [96]:
s=pd.concat([sonuc,sonuc2], axis=1)
print(s)

     fr   tr   us    boy   kilo    yas
0   0.0  1.0  0.0  130.0   30.0  10.00
1   0.0  1.0  0.0  125.0   36.0  11.00
2   0.0  1.0  0.0  135.0   34.0  10.00
3   0.0  1.0  0.0  133.0   30.0   9.00
4   0.0  1.0  0.0  129.0   38.0  12.00
5   0.0  1.0  0.0  180.0   90.0  30.00
6   0.0  1.0  0.0  190.0   80.0  25.00
7   0.0  1.0  0.0  175.0   90.0  35.00
8   0.0  1.0  0.0  177.0   60.0  22.00
9   0.0  0.0  1.0  185.0  105.0  33.00
10  0.0  0.0  1.0  165.0   55.0  27.00
11  0.0  0.0  1.0  155.0   50.0  44.00
12  0.0  0.0  1.0  160.0   58.0  28.45
13  0.0  0.0  1.0  162.0   59.0  41.00
14  0.0  0.0  1.0  167.0   62.0  55.00
15  1.0  0.0  0.0  174.0   70.0  47.00
16  1.0  0.0  0.0  193.0   90.0  28.45
17  1.0  0.0  0.0  187.0   80.0  27.00
18  1.0  0.0  0.0  183.0   88.0  28.00
19  1.0  0.0  0.0  159.0   40.0  29.00
20  1.0  0.0  0.0  164.0   66.0  32.00
21  1.0  0.0  0.0  166.0   56.0  42.00

In [97]:
s2=pd.concat([s,sonuc3], axis=1)
print(s2)

     fr   tr   us    boy   kilo    yas  cinsiyet
0   0.0  1.0  0.0  130.0   30.0  10.00       1.0
1   0.0  1.0  0.0  125.0   36.0  11.00       1.0
2   0.0  1.0  0.0  135.0   34.0  10.00       0.0
3   0.0  1.0  0.0  133.0   30.0   9.00       0.0
4   0.0  1.0  0.0  129.0   38.0  12.00       1.0
5   0.0  1.0  0.0  180.0   90.0  30.00       1.0
6   0.0  1.0  0.0  190.0   80.0  25.00       1.0
7   0.0  1.0  0.0  175.0   90.0  35.00       1.0
8   0.0  1.0  0.0  177.0   60.0  22.00       0.0
9   0.0  0.0  1.0  185.0  105.0  33.00       1.0
10  0.0  0.0  1.0  165.0   55.0  27.00       0.0
11  0.0  0.0  1.0  155.0   50.0  44.00       0.0
12  0.0  0.0  1.0  160.0   58.0  28.45       0.0
13  0.0  0.0  1.0  162.0   59.0  41.00       0.0
14  0.0  0.0  1.0  167.0   62.0  55.00       0.0
15  1.0  0.0  0.0  174.0   70.0  47.00       1.0
16  1.0  0.0  0.0  193.0   90.0  28.45       1.0
17  1.0  0.0  0.0  187.0   80.0  27.00       1.0
18  1.0  0.0  0.0  183.0   88.0  28.00       1.0
19  1.0  0.0  0.0  159.0   40.0  29.00       0.0
20  1.0  0.0  0.0  164.0   66.0  32.00       0.0
21  1.0  0.0  0.0  166.0   56.0  42.00       0.0

In [98]:
from sklearn.model_selection import train_test_split

x_train, x_test,y_train,y_test = train_test_split(s,sonuc3,test_size=0.33, random_state=0)

In [99]:
from sklearn.linear_model import LinearRegression

In [100]:
regressor = LinearRegression()
regressor.fit(x_train, y_train)
y_pred = regressor.predict(x_test)
y_pred

array([[ 0.99290006],
       [-0.11449329],
       [ 0.09298872],
       [ 0.09586046],
       [ 0.72250046],
       [ 0.66930853],
       [-0.00334825],
       [ 0.33692765]])

In [101]:
boy = s2.iloc[:,3:4].values
boy

array([[130.],
       [125.],
       [135.],
       [133.],
       [129.],
       [180.],
       [190.],
       [175.],
       [177.],
       [185.],
       [165.],
       [155.],
       [160.],
       [162.],
       [167.],
       [174.],
       [193.],
       [187.],
       [183.],
       [159.],
       [164.],
       [166.]])

In [102]:
sol = s2.iloc[:,:3]
sag = s2.iloc[:,4:]

In [103]:
sol

     fr   tr   us
0   0.0  1.0  0.0
1   0.0  1.0  0.0
2   0.0  1.0  0.0
3   0.0  1.0  0.0
4   0.0  1.0  0.0
5   0.0  1.0  0.0
6   0.0  1.0  0.0
7   0.0  1.0  0.0
8   0.0  1.0  0.0
9   0.0  0.0  1.0
10  0.0  0.0  1.0
11  0.0  0.0  1.0
12  0.0  0.0  1.0
13  0.0  0.0  1.0
14  0.0  0.0  1.0
15  1.0  0.0  0.0
16  1.0  0.0  0.0
17  1.0  0.0  0.0
18  1.0  0.0  0.0
19  1.0  0.0  0.0
20  1.0  0.0  0.0
21  1.0  0.0  0.0

In [104]:
sag

     kilo    yas  cinsiyet
0    30.0  10.00       1.0
1    36.0  11.00       1.0
2    34.0  10.00       0.0
3    30.0   9.00       0.0
4    38.0  12.00       1.0
5    90.0  30.00       1.0
6    80.0  25.00       1.0
7    90.0  35.00       1.0
8    60.0  22.00       0.0
9   105.0  33.00       1.0
10   55.0  27.00       0.0
11   50.0  44.00       0.0
12   58.0  28.45       0.0
13   59.0  41.00       0.0
14   62.0  55.00       0.0
15   70.0  47.00       1.0
16   90.0  28.45       1.0
17   80.0  27.00       1.0
18   88.0  28.00       1.0
19   40.0  29.00       0.0
20   66.0  32.00       0.0
21   56.0  42.00       0.0

In [105]:
veri = pd.concat([sol,sag], axis = 1)

In [106]:
x_train, x_test,y_train,y_test = train_test_split(veri,boy,test_size=0.33, random_state=0)

In [107]:
r2 = LinearRegression()
r2.fit(x_train, y_train)

LinearRegression()

In [108]:
y_pred = r2.predict(x_test)
y_pred

array([[182.25496542],
       [153.60175918],
       [163.03243328],
       [158.79170543],
       [130.88751593],
       [173.75783348],
       [150.54725552],
       [157.27677179]])

In [113]:
import statsmodels.api as sm

In [115]:
X = np.append(arr = np.ones((22,1)).astype(int), values = veri ,axis = 1)

In [119]:
X_list = veri.iloc[:, [0,1,2,3,4,5]].values
X_list = np.array(X_list,dtype = float)
model = sm.OLS(boy,X_list).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.886
Model:                            OLS   Adj. R-squared:                  0.850
Method:                 Least Squares   F-statistic:                     24.85
Date:                Sat, 23 Sep 2023   Prob (F-statistic):           5.17e-07
Time:                        08:49:55   Log-Likelihood:                -73.887
No. Observations:                  22   AIC:                             159.8
Df Residuals:                      16   BIC:                             166.3
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1           113.6364      8.087     14.052      0.000      96.493     130.780
x2           108.1800      5.644     19.167      0.000      96.215     120.145
x3           104.1324      8.840     11.780      0.000      85.393     122.871
x4             0.9142      0.120      7.624      0.000       0.660       1.168
x5             0.1054      0.221      0.478      0.639      -0.362       0.573
x6           -10.5082      5.005     -2.099      0.052     -21.119       0.102
==============================================================================
Omnibus:                        1.129   Durbin-Watson:                   2.772
Prob(Omnibus):                  0.569   Jarque-Bera (JB):                0.679
Skew:                           0.426   Prob(JB):                        0.712
Kurtosis:                       2.878   Cond. No.                         513.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [120]:
X_list = veri.iloc[:, [0,1,2,3,5]].values
X_list = np.array(X_list,dtype = float)
model = sm.OLS(boy,X_list).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.884
Model:                            OLS   Adj. R-squared:                  0.857
Method:                 Least Squares   F-statistic:                     32.47
Date:                Sat, 23 Sep 2023   Prob (F-statistic):           9.32e-08
Time:                        08:51:12   Log-Likelihood:                -74.043
No. Observations:                  22   AIC:                             158.1
Df Residuals:                      17   BIC:                             163.5
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1           115.6583      6.734     17.175      0.000     101.451     129.866
x2           109.0786      5.200     20.978      0.000      98.108     120.049
x3           106.5445      7.090     15.026      0.000      91.585     121.504
x4             0.9405      0.104      9.029      0.000       0.721       1.160
x5           -11.1093      4.733     -2.347      0.031     -21.096      -1.123
==============================================================================
Omnibus:                        0.871   Durbin-Watson:                   2.719
Prob(Omnibus):                  0.647   Jarque-Bera (JB):                0.459
Skew:                           0.351   Prob(JB):                        0.795
Kurtosis:                       2.910   Cond. No.                         397.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""