In [98]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [99]:
veriler = pd.read_csv("Churn_modelling.csv")
veriler

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [100]:
x = veriler.iloc[:,3:13].values
y = veriler.iloc[:,13].values

In [101]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
x[:,1] = le.fit_transform(x[:,1])

In [102]:
le2 = preprocessing.LabelEncoder()
x[:,2] = le.fit_transform(x[:,2])

In [103]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [104]:
ohe = ColumnTransformer([("ohe",OneHotEncoder(dtype = float), [1])],remainder = "passthrough")

In [105]:
x = ohe.fit_transform(x)
x = x[:,1:]

In [106]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y , test_size = 0.33 , random_state = 0)

In [107]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

Yapay Sinir AÄŸlarÄ±

In [108]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [109]:
classifier = Sequential()
classifier.add(Dense(6, kernel_initializer = "uniform", activation = "relu", input_dim = 11))
classifier.add(Dense(6, kernel_initializer = "uniform", activation = "relu"))
classifier.add(Dense(1, kernel_initializer = "uniform", activation = "sigmoid"))

In [110]:
classifier.compile(optimizer = "adam", loss = "binary_crossentropy", metrics = ["accuracy"])

In [111]:
classifier.fit(x_train, y_train, epochs = 50)
y_pred = classifier.predict(x_test)

Epoch 1/50
210/210 [==============================] - 1s 2ms/step - loss: 0.6173 - accuracy: 0.7945
Epoch 2/50
210/210 [==============================] - 1s 3ms/step - loss: 0.4469 - accuracy: 0.7979
Epoch 3/50
210/210 [==============================] - 1s 3ms/step - loss: 0.4309 - accuracy: 0.7979
Epoch 4/50
210/210 [==============================] - 1s 3ms/step - loss: 0.4283 - accuracy: 0.7979
Epoch 5/50
210/210 [==============================] - 1s 3ms/step - loss: 0.4260 - accuracy: 0.7979
Epoch 6/50
210/210 [==============================] - 1s 3ms/step - loss: 0.4239 - accuracy: 0.7979
Epoch 7/50
210/210 [==============================] - 1s 3ms/step - loss: 0.4221 - accuracy: 0.7979
Epoch 8/50
210/210 [==============================] - 0s 2ms/step - loss: 0.4202 - accuracy: 0.7979
Epoch 9/50
210/210 [==============================] - 1s 2ms/step - loss: 0.4186 - accuracy: 0.7979
Epoch 10/50
210/210 [==============================] - 0s 2ms/step - loss: 0.4171 - accuracy: 0.8075
Epoch 11/50
210/210 [==============================] - 0s 2ms/step - loss: 0.4160 - accuracy: 0.8225
Epoch 12/50
210/210 [==============================] - 0s 2ms/step - loss: 0.4151 - accuracy: 0.8233
Epoch 13/50
210/210 [==============================] - 0s 2ms/step - loss: 0.4142 - accuracy: 0.8243
Epoch 14/50
210/210 [==============================] - 0s 2ms/step - loss: 0.4136 - accuracy: 0.8263
Epoch 15/50
210/210 [==============================] - 1s 3ms/step - loss: 0.4130 - accuracy: 0.8269
Epoch 16/50
210/210 [==============================] - 1s 2ms/step - loss: 0.4122 - accuracy: 0.8293
Epoch 17/50
210/210 [==============================] - 0s 2ms/step - loss: 0.4116 - accuracy: 0.8287
Epoch 18/50
210/210 [==============================] - 0s 2ms/step - loss: 0.4111 - accuracy: 0.8301
Epoch 19/50
210/210 [==============================] - 0s 2ms/step - loss: 0.4106 - accuracy: 0.8306
Epoch 20/50
210/210 [==============================] - 0s 2ms/step - loss: 0.4103 - accuracy: 0.8309
Epoch 21/50
210/210 [==============================] - 0s 2ms/step - loss: 0.4094 - accuracy: 0.8310
Epoch 22/50
210/210 [==============================] - 0s 2ms/step - loss: 0.4092 - accuracy: 0.8316
Epoch 23/50
210/210 [==============================] - 0s 2ms/step - loss: 0.4086 - accuracy: 0.8319
Epoch 24/50
210/210 [==============================] - 1s 3ms/step - loss: 0.4082 - accuracy: 0.8334
Epoch 25/50
210/210 [==============================] - 1s 3ms/step - loss: 0.4078 - accuracy: 0.8327
Epoch 26/50
210/210 [==============================] - 1s 3ms/step - loss: 0.4075 - accuracy: 0.8333
Epoch 27/50
210/210 [==============================] - 1s 3ms/step - loss: 0.4073 - accuracy: 0.8331
Epoch 28/50
210/210 [==============================] - 1s 3ms/step - loss: 0.4070 - accuracy: 0.8334
Epoch 29/50
210/210 [==============================] - 1s 3ms/step - loss: 0.4066 - accuracy: 0.8336
Epoch 30/50
210/210 [==============================] - 1s 3ms/step - loss: 0.4063 - accuracy: 0.8321
Epoch 31/50
210/210 [==============================] - 1s 3ms/step - loss: 0.4061 - accuracy: 0.8331
Epoch 32/50
210/210 [==============================] - 1s 3ms/step - loss: 0.4058 - accuracy: 0.8349
Epoch 33/50
210/210 [==============================] - 1s 3ms/step - loss: 0.4054 - accuracy: 0.8351
Epoch 34/50
210/210 [==============================] - 1s 3ms/step - loss: 0.4054 - accuracy: 0.8334
Epoch 35/50
210/210 [==============================] - 1s 3ms/step - loss: 0.4051 - accuracy: 0.8345
Epoch 36/50
210/210 [==============================] - 1s 3ms/step - loss: 0.4048 - accuracy: 0.8348
Epoch 37/50
210/210 [==============================] - 1s 3ms/step - loss: 0.4048 - accuracy: 0.8343
Epoch 38/50
210/210 [==============================] - 1s 2ms/step - loss: 0.4045 - accuracy: 0.8351
Epoch 39/50
210/210 [==============================] - 0s 2ms/step - loss: 0.4040 - accuracy: 0.8348
Epoch 40/50
210/210 [==============================] - 1s 3ms/step - loss: 0.4040 - accuracy: 0.8346
Epoch 41/50
210/210 [==============================] - 1s 3ms/step - loss: 0.4036 - accuracy: 0.8343
Epoch 42/50
210/210 [==============================] - 1s 3ms/step - loss: 0.4036 - accuracy: 0.8349
Epoch 43/50
210/210 [==============================] - 1s 3ms/step - loss: 0.4035 - accuracy: 0.8342
Epoch 44/50
210/210 [==============================] - 1s 3ms/step - loss: 0.4032 - accuracy: 0.8345
Epoch 45/50
210/210 [==============================] - 1s 3ms/step - loss: 0.4028 - accuracy: 0.8342
Epoch 46/50
210/210 [==============================] - 1s 3ms/step - loss: 0.4028 - accuracy: 0.8340
Epoch 47/50
210/210 [==============================] - 1s 3ms/step - loss: 0.4027 - accuracy: 0.8349
Epoch 48/50
210/210 [==============================] - 1s 3ms/step - loss: 0.4024 - accuracy: 0.8337
Epoch 49/50
210/210 [==============================] - 1s 3ms/step - loss: 0.4024 - accuracy: 0.8342
Epoch 50/50
210/210 [==============================] - 1s 3ms/step - loss: 0.4025 - accuracy: 0.8345
104/104 [==============================] - 0s 1ms/step

In [112]:
y_pred = (y_pred > 0.5)

In [113]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)
cm

array([[2549,   68],
       [ 461,  222]], dtype=int64)